<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmt.zeus.id.snow.worker.mapper.SysIdWorkerNodeMapper">
	<resultMap id="sysIdWorkerNode" type="com.lmt.zeus.id.snow.worker.entity.SysIdWorkerNode">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="host_name" jdbcType="VARCHAR" property="hostName" />
		<result column="port" jdbcType="VARCHAR" property="port" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="lanuch_date" jdbcType="DATE" property="launchDate" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="updated_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="last_timestamp" jdbcType="BIGINT" property="lastTimestamp" />
	</resultMap>

	<select id="selectMaxId" resultType="java.lang.Long">
		select id from lmt_sys_id_worker_node order by id desc limit 1;
	</select>
</mapper>
